body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5em 3 * 37em;
  margin: 0;
  background-color: black;
}

header {
  grid-column: 1 / 13;
  background-color: white;
}

/* main section */
.main1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 37em);

  grid-column: 1 /13;
}
