body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 5em 111em 75em 50em;
  margin: 0;
  background-color: black;
}

header {
  grid-column: 1 / 13;
  background-color: white;
}
